body{
  text-align: center;
  background-color: skyblue;
}

.pro-pic{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  object-position: center;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.text-bar{
  border: none;
  vertical-align: middle;
  border-radius: 15px;
  margin: 0 3px 0 0;
  padding: 3px 0 3px 5px;
}

.post{
  border: none;
  border-radius:15px;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity 0.15s;
  background-color: black;
  color: white;
  padding: 5px 10px 5px 10px;
}

.post:hover{
  opacity: 0.7;
}

.post:active{
  opacity: 0.3;
}
