body{
  background-color: whitesmoke;
  width: 90vw;
  text-align: center;
}

.container{
  color: lightcyan;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px 40px 20px;
  background-color: rgb(34,139,34);
  border-radius: 6px;
  transition: transform 0.15s;
}

.container:hover{
  transform: scale(1.05);
}

.a-links{
  display: flex;
  justify-content: space-evenly;
}

.a-links a{
  text-decoration: none;
  background-color: navy;
  border-radius: 6px;
  padding: 20px;
  color: white;
  transition: transform 0.15s background-color 0.15s;
}

.a-links a:hover{
  transform: scale(1.25)
}

.a-links a:active{
  background-color: darkblue;  
}
article{
  display: none;
  background-color: teal;
  margin: 20px auto;
  width: 50%;
  padding: 20px;
  border-radius: 30px;
  color: gold;
  transition: transform 0.15s;
}

article:target{
  display: block;
}
article:hover{
transform: scale(1.05);}
