body{
  background-color: pink;
  text-align: center;
}


.container{
  max-width: 400px;
  width: 80%;background-color:lavender;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px 60px 20px;
  border-radius: 5px;
}


label{
  font-weight: bold;
  font-family: sans-serif;
  margin: 10px;
}
label:not(.radio-group label){
  display: block;
}


input{
  width: 100%
}




input:focus, textarea:focus{  
  border: solid gold;
}




input:invalid, select:invalid, textarea:invalid{
  border: 2px solid red;
}




input:valid, select:valid, textarea:valid{
  border: 2px green solid;
}




button{
  background-color: darkblue;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  transition: background-color 0.15s, opacity 0.15s;
  display: block;
  margin: 0 auto;
}




button:hover{
background-color:blue;
}




button:active{
  opacity: 0.5;
}


.radio-group{
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}


.radio-group legend{
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
}
.radio-group input[type="radio"]{
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid gray;
  vertical-align: bottom;
}
.radio-group input[type="radio"]:checked{
  border: 4px blue solid;
  background-color: skyblue;
  box-shadow: 0 3px 10px black;
}


.radio-group input[type="radio"]:checked + label{
  color: blue;
}


input:first-of-type{
  border-radius: 12px;
}


select{
  padding: 0.2em 0.5em;
}
