body{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  min-height: calc(100vh - 100px);
  text-align: center;
}

p{
  margin: 1.5rem;
}

.location, .date{
  display: inline-block
}

.location{
  margin-left: 20px;
}

hr{
  width: 100%
}

section{
  width: 100%;
}
