

.container{
  display: grid;
  height: 600px;
  background-color: rgb(225, 124, 124);
  grid-template-columns: repeat(2, 100px); 
  grid-template-rows: repeat(2, 100px);
  justify-content: space-evenly;
  align-content: space-evenly;
}


*.item{
  border: 3px solid black;
  color: white;
  font-weight: bold;
  text-align: center;
}

.item-1{
  background-color: green;
}

.item-2{
  background-color: blue;
}

.item-3{
  background-color: yellow;
}

.item-4{
  background-color: purple;
}
